@using Sandbox;
@using System;
@using Facepunch.Boomer.WeaponSystem;
@using Facepunch.Boomer.Mechanics;
@using Facepunch.Boomer.UI;

@namespace Facepunch.Boomer

<style>
    Info {
        width: 100%;
        height: 100%;
        position: absolute;

        .left {
            position: absolute;
            bottom: 64px;
            left: 24px;
            flex-direction: column;
        }

        .right {
            position: absolute;
            bottom: 64px;
            right: 48px;
            justify-content: flex-end;
            flex-direction: column-reverse;
	        align-items: flex-end;
	        align-content: stretch;
        }

        .top {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            flex-direction: column;
        }

        .text {
            color: white;
            font-weight: 700;
            font-family: Quantico-Bold;
            font-size: 64px;
            justify-content: center;
            align-items: center;
            align-content: stretch;
        }

        .icon {
            color: white;
            font-size: 30px;
            font-family: Material Icons;
            justify-content: center;
            align-items: center;
            align-content: center;

            &.big {
                font-size: 32px;
                padding-right: 12px;
            }
        }

        .reserve {
            color: white;
            font-size: 24px;
        }

        .row {
            &.hidden {
                display: none;
            }

        	justify-content: flex-start;
	        align-items: center;
	        align-content: stretch;
            flex-direction: row;
        }

        .column {
            flex-direction: column;
        }
    }
</style>

<root>
    @if ( DevCam != null )
        return;

    <div class="left">
        <div class="column stat">
            <div class="row">
                <label class="text @HealthClasses()">@Health</label>
                <label class="text reserve">100</label>
            </div>

            <div class="row">
                <label class="icon big">emergency</label>
                <SegmentBar CurrentValue=@Player.Health MaxValue=@(100) Segments=@(10) />
            </div>
        </div>

        <div class="column stat">
            <div class="row">
                <label class="text">@Armor</label>
                <label class="text reserve">100</label>
            </div>

            <div class="row stat">
                <label class="icon big">shield</label>
                <SegmentBar Color=@ArmorColor CurrentValue=@Armor MaxValue=@(100) Segments=@(10) />
            </div>
        </div>
    </div>

    <div class="right">
        @if ( Dash != null )
        {
            <div class="column">
                <div class="row">
                    <label class="icon big">speed</label>
                    <SegmentBar class="slim" Color=@DashColor CurrentValue=@Dash.DashCount MaxValue=@Dash.MaxDashes Segments=@Dash.MaxDashes />
                </div>
            </div>
        }

        @if ( AmmoComponent != null )
        {
            <div class="row stat">
                <label class="text @AmmoClasses()">@AmmoComponent.AmmoCount.Clamp( 0, AmmoComponent.Data.MaximumAmmo )</label>

                @if ( AmmoComponent.AmmoCount > AmmoComponent.Data.MaximumAmmo )
                {
                    <label class="text">+ @(AmmoComponent.AmmoCount - AmmoComponent.Data.MaximumAmmo)</label>
                }

                <label class="text reserve">@AmmoComponent.Data.MaximumAmmo</label>
            </div>
        }
    </div>

    <div class="top">
        @if ( !string.IsNullOrEmpty( TimeLeftLabel ) )
        {
            <div class="row">
                <label class="text">@TimeLeftLabel</label>
            </div>
        }
        @if ( !string.IsNullOrEmpty( GameStateLabel ) )
        {
             <div class="row">
                <label class="text reserve">@GameStateLabel</label>
            </div>   
        }
    </div>
</root>

@code 
{
    public string Health => $"{Player.Health:F0}";
    public float Armor => Player.ArmorComponent.Current.CeilToInt();
    public string ArmorString => $"{Player.ArmorComponent.Current:F0}";
    public Player Player => Game.LocalPawn as Player;
    public Weapon Weapon => Player?.ActiveWeapon;
    public Ammo AmmoComponent => Weapon?.GetComponent<Ammo>();
    public DashMechanic Dash => Player.Controller?.GetMechanic<DashMechanic>();
    public DevCamera DevCam => Game.LocalClient.Components.Get<DevCamera>( false );

    public Color DashColor => Color.Parse("#c27418") ?? Color.White;
    public Color ArmorColor => Color.Parse("#e4dd35") ?? Color.White;

    // Gamemode
    public string TimeLeftLabel => GamemodeSystem.Current?.GetTimeLeftLabel();
    public string GameStateLabel => GamemodeSystem.Current?.GetGameStateLabel();

    protected override int BuildHash()
    {
        return HashCode.Combine( AmmoComponent?.AmmoCount, Player?.Health, Dash?.DashCount, Player.ArmorComponent.Current, DevCam, TimeLeftLabel, GameStateLabel );
    }

    protected string HealthClasses()
    {
        return Player.Health < 25f ? "low" : "";
    }

    protected string AmmoClasses()
    {
        return ( (float)AmmoComponent.AmmoCount / (float)AmmoComponent.Data.MaximumAmmo ) < 0.25f ? "low" : "";
    }
}